.card {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid var(--grey-100);
  background-color: var(--grey-200);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.plusCard {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.plusCard:hover {
  transform: scale(1.05);
}

.plus {
  font-size: 15em;
  color: var(--green-500);
}
