.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.cardsContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.blueBtn {
  background-color: var(--blue-900);
  color: var(--blue-100);
}

.greenBtn {
  background-color: var(--green-900);
  color: var(--green-100);
}

.redBtn {
  background-color: var(--red-900);
  color: var(--red-100);
}

/* ---Forms (Sign Up / Login / Logout / Create) CSS */

.userFormContainer {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  background-color: var(--blue-100);
  padding: 10px;
  border-radius: 5px;
}

.userFormTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.formLabel {
  display: block;
  margin-bottom: 5px;
}

.inputField {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 5px;
}

.fileInput {
  display: block;
  margin-bottom: 20px;
  border: 1px solid var(--grey-100);
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.submitButton {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.blogFormContainer {
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  background-color: var(--blue-100);
  padding: 10px;
  border-radius: 5px;
}

.blogFormTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.textareaField {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  min-height: 150px;
}

.uploadButton {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.uploadButton:disabled {
  background-color: var(--grey-500);
}

/* ---Single Blog Page */
.blogContainer {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: var(--grey-200);
}

.title {
  color: var(--grey-800);
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
}

/* If blog has only coverPicture */
.coverPicture {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

/* If blog has both coverVideo and coverPicture */
.coverImage {
  width: 100%;
  height: 500px;
  position: relative;
  object-fit: cover;
  object-position: center;
}

.playButtonOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.playButtonOverlay > p {
  font-size: 4rem;
}

.playButtonOverlay > p:hover {
  font-size: 5rem;
}

.modalVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blogContent {
  line-height: 1.6;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--grey-900);
}

.authorInfo {
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--grey-700);
}

.publishedDate {
  font-style: italic;
  color: var(--grey-500);
}

/* ---Pagination */

.paginationContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.paginationButton {
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.paginationButton:disabled {
  background-color: var(--grey-500);
}

/* ---Media queries for responsiveness */

/* Tablet Screen */
@media (min-width: 768px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Laptop Screen */
@media (min-width: 1024px) {
  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
