.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--grey-500);
  border-bottom: 2px solid var(--grey-900);
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.link {
  margin-right: 1rem;
  text-decoration: none;
  color: var(--grey-900);
}
